body{
    margin: 0px;
}

nav{
    background-color: #0c4ca3;
}

ul{
    justify-content: center; /* Căn giữa các mục */
    display: flex; /* Sử dụng Flexbox để sắp xếp các mục ngang */
    list-style: none; /* Loại bỏ dấu chấm đầu dòng */
}

li{
    padding: 15px;
}

.border{
    border-right: 1px solid gray;
}

.danhmuc-lienket{
    color: white;
    text-decoration: none; /* Loại bỏ gạch chân */
    font-family: Roboto, Arial, Tahoma;
}


.banner-qc{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.news ul a {
    text-decoration: none;
}

.qc{
    display: flex;
    justify-content: space-between;
}

header{
    border-bottom: 15px solid #f1f1f2;
}

.news{
    font-family: Arial, Tahoma;
    color: blue;
    justify-content: center; 
}
